################################################################################
#      Copyright (C) 2020        Sebastian Francisco Colomar Bauza             #
#      SPDX-License-Identifier:  GPL-2.0-only                                  #
################################################################################
name: CI                                                                       #
on:                                                                            #
  push:                                                                        #
    branches:                                                                  #
    - main                                                                     #
jobs:                                                                          #
  kubernetes:                                                                  #
    runs-on: ubuntu-18.04                                                      #
    steps:                                                                     #
    - name: checkout                                                           #
      uses: actions/checkout@v2                                                #
    - name: test                                                               #
      run: |                                                                   #
        set -x                                                                 ;
                                                                               #
        branch=$(basename $GITHUB_REF)                                         ;
        project=$(basename $GITHUB_REPOSITORY)                                 ;
                                                                               #
        echo $branch | grep ^v[0-9]                                            \
          && release=$( echo $branch | awk -F^v '{ print $2 }' )               \
          || release=latest                                                    ;
                                                                               #
        uuid=.                                                                 ;
        path=$uuid/ubuntu18/bin/install-docker-kubelet.sh                      ;
        source $path                                                           ;
        path=$uuid/ubuntu18/bin/install-leader.sh                              ;
        source $path                                                           ;
        master=$( kubectl get node | grep master | awk '{ print $1 }' )        ;
        kubectl taint node $master node-role.kubernetes.io/master:NoSchedule-  ;
                                                                               #
        mkdir -p run/configs                                                   ;
        mkdir -p run/secrets                                                   ;
        touch run/configs/file                                                 ;
        touch run/secrets/file                                                 ;
        path=$uuid/bin/configs-secrets-gen.sh                                  ;
        source $path                                                           ;
                                                                               #
        while true                                                             ;
          do                                                                   \
          kubectl get node                                                     \
          |                                                                    \
          grep Ready                                                           \
          |                                                                    \
          grep --invert-match NotReady                                         \
          &&                                                                   \
          break                                                                \
                                                                               ;
          sleep 10                                                             ;
        done                                                                   ;
################################################################################
